
//
// Dropdown
//

.dropdown-enter { transform: translateY(5%); opacity: 0; }
.dropdown-enter-to { transform: translateY(0); opacity: 1; }

.dropdown-leave { transform: translateY(0); opacity: 1; }
.dropdown-leave-to { transform: translateY(5%); opacity: 0; }

.dropdown-enter-active,
.dropdown-leave-active { transition: all 200ms ease-in-out }
